parameters:
    level: 8
    paths:
        - src/
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Access to an undefined property PhpParser\\Node\\Expr|PhpParser\\Node\\Identifier::\$name.#'
