imports:
    - {resource: checkers.yaml}

parameters:
    env(EVALUATOR_PROJECT_DIR): ~
    env(GITHUB_AUTH): ~

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $projectDirEnv: '%env(EVALUATOR_PROJECT_DIR)%'
            $githubAuth: '%env(GITHUB_AUTH)%'

    _instanceof:
        SprykerSdk\Evaluator\Checker\CheckerInterface:
            tags: ['evaluator.checker']

    SprykerSdk\Evaluator\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    symfony.console.application:
        class: Symfony\Bundle\FrameworkBundle\Console\Application
        arguments:
            - '@kernel'

    SprykerSdk\Evaluator\Checker\CheckerRegistry:
        arguments:
            - !tagged_iterator evaluator.checker

    SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\SdkPhpVersionStrategy:
        arguments: [ '%php_version_checker_sdk_versions%' ]

    SecurityChecker\Command\SecurityCheckerCommand:

    # Checkers

    SprykerSdk\Evaluator\Checker\PhpVersionChecker\PhpVersionChecker:
        arguments:
            - '@SprykerSdk\Evaluator\Resolver\PathResolver'
            - '%php_version_checker_allowed_php_versions%'
            - - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\CurrentPhpVersionStrategy'
              - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\ComposerPhpVersionStrategy'
              - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\DeployYamlFilesPhpVersionStrategy'
              - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\SdkPhpVersionStrategy'
            - '%php_version_checker_doc_url%'


    SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\MultidimensionalArrayChecker:
        arguments:
            $checkerDocUrl: '%multidimensional_array_checker_doc_url%'
            $nestingStructures:
                - '@SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\NestingStructure\AssignArrayNestingStructure'
                - '@SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\NestingStructure\ArrayMergeNestingStructure'
                - '@SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\NestingStructure\ReturnArrayNestingStructure'

    SprykerSdk\Evaluator\Checker\SecurityChecker\SecurityChecker:
        arguments:
            - '@symfony.console.application'
            - '@SprykerSdk\Evaluator\Resolver\PathResolver'
            - '%security_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\DependencyProviderAdditionalLogicChecker\DependencyProviderAdditionalLogicChecker:
        arguments:
            $checkerDocUrl: '%dp_additional_logic_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\MinimumShopVersionChecker\MinimumShopVersionChecker:
        arguments:
            $minimumFeatureVersion: '%minimum_allowed_shop_version_checker_version%'
            $checkerDocUrl: '%minimum_allowed_shop_version_checker_doc_url%'

    SprykerSdk\Evaluator\Extractor\FeaturePackagesExtractor\FeaturePackagesExtractor:
        arguments:
            $targetTag: '%minimum_allowed_shop_version_checker_version%'
            $dataFile: '%minimum_allowed_shop_version_checker_file%'

    SprykerSdk\Evaluator\Checker\MinimumShopVersionChecker\MinimumAllowedPackageVersionsReader:
        arguments:
            $minimumAllowedPackagesFile: '%minimum_allowed_shop_version_checker_file%'

    SprykerSdk\Evaluator\Checker\PluginsRegistrationWithRestrictionsChecker\PluginsRegistrationWithRestrictionsChecker:
        arguments:
            $checkerDocUrl: '%plugin_registration_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\SinglePluginArgumentChecker\SinglePluginArgumentChecker:
        arguments:
            $checkerDocUrl: '%single_plugin_argument_checker_doc_url%'

    # Third-party
    PhpParser\ParserFactory: ~
    Symfony\Component\Finder\Finder: ~

