imports:
    - {resource: checkers.yaml}
    - {resource: reports.yaml}

parameters:
    env(EVALUATOR_PROJECT_DIR): ''
    env(GITHUB_AUTH): ~
    report_file: 'reports/evaluator.*'
    current_php_version: "%env(default:current_server_php_version:string:PROJECT_PHP_VERSION)%"
    current_server_php_version: !php/const PHP_VERSION
services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $projectDirEnv: '%env(EVALUATOR_PROJECT_DIR)%'
            $githubAuth: '%env(GITHUB_AUTH)%'

    _instanceof:
        SprykerSdk\Evaluator\Checker\CheckerInterface:
            tags: ['evaluator.checker']

        SprykerSdk\Evaluator\Console\ReportRenderer\ReportRendererInterface:
            tags: ['evaluator.report_renderer']

    SprykerSdk\Evaluator\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/Dto/*'
            - '../src/Report/Dto/*'
            - '../src/Checker/PhpVersionChecker/CheckerStrategyResponse.php'
            - '../src/ReleaseApp/Domain/Entities/*'
            - '../src/ReleaseApp/Domain/Client/Request/*'
            - '../src/ReleaseApp/Domain/Client/Response/*'
            - '../src/ReleaseApp/Domain/Exception/*'
            - '../src/ReleaseApp/Infrastructure/Client/Request/*'
            - '../src/ReleaseApp/Infrastructure/Shared/Dto/*'

    symfony.console.application:
        class: Symfony\Bundle\FrameworkBundle\Console\Application
        arguments:
            - '@kernel'

    SprykerSdk\Evaluator\Console\Command\EvaluatorCommand:
        arguments:
            $fileReport: '%report_file%'

    SprykerSdk\Evaluator\Console\ReportRenderer\ReportRenderResolver:
        arguments:
            - !tagged_iterator evaluator.report_renderer

    SprykerSdk\Evaluator\Checker\CheckerRegistry:
        arguments:
            - !tagged_iterator evaluator.checker

    SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\SdkPhpVersionStrategy:
        arguments: [ '%php_version_checker_sdk_php_major_versions%' ]

    SecurityChecker\Command\SecurityCheckerCommand:
        arguments:
            -
    # Strategies
    SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\CurrentPhpVersionStrategy:
        arguments:
            - '%current_php_version%'

    # Checkers
    SprykerSdk\Evaluator\Checker\PhpVersionChecker\PhpVersionChecker:
        arguments:
            - '@SprykerSdk\Evaluator\Resolver\PathResolver'
            - '%php_version_checker_allowed_php_major_versions%'
            - - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\CurrentPhpVersionStrategy'
              - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\ComposerPhpVersionStrategy'
              - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\DeployYamlFilesPhpVersionStrategy'
              - '@SprykerSdk\Evaluator\Checker\PhpVersionChecker\CheckerStrategy\SdkPhpVersionStrategy'
            - '%php_version_checker_doc_url%'


    SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\MultidimensionalArrayChecker:
        arguments:
            $checkerDocUrl: '%multidimensional_array_checker_doc_url%'
            $nestingStructures:
                - '@SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\NestingStructure\AssignArrayNestingStructure'
                - '@SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\NestingStructure\ArrayMergeNestingStructure'
                - '@SprykerSdk\Evaluator\Checker\MultidimensionalArrayChecker\NestingStructure\ReturnArrayNestingStructure'

    SprykerSdk\Evaluator\Checker\SecurityChecker\SecurityChecker:
        arguments:
            - '@symfony.console.application'
            - '@SprykerSdk\Evaluator\Resolver\PathResolver'
            - '%security_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\SecurityChecker\SecurityUpdateChecker:
        arguments:
            - '@SprykerSdk\Evaluator\Reader\ComposerReaderInterface'
            - '@SprykerSdk\Evaluator\ReleaseApp\Infrastructure\Service\ReleaseAppService'
            - '%security_update_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\DependencyProviderAdditionalLogicChecker\DependencyProviderAdditionalLogicChecker:
        arguments:
            $checkerDocUrl: '%dp_additional_logic_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\DeadCode\DeadCodeChecker:
        arguments:
            $checkerDocUrl: '%dead_code_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\MinimumShopVersionChecker\MinimumShopVersionChecker:
        arguments:
            $minimumFeatureVersion: '%minimum_allowed_shop_version_checker_version%'
            $checkerDocUrl: '%minimum_allowed_shop_version_checker_doc_url%'

    SprykerSdk\Evaluator\Extractor\FeaturePackagesExtractor\FeaturePackagesExtractor:
        arguments:
            $targetTag: '%minimum_allowed_shop_version_checker_version%'
            $dataFile: '%minimum_allowed_shop_version_checker_file%'

    SprykerSdk\Evaluator\Checker\MinimumShopVersionChecker\MinimumAllowedPackageVersionsReader:
        arguments:
            $minimumAllowedPackagesFile: '%minimum_allowed_shop_version_checker_file%'

    SprykerSdk\Evaluator\Checker\PluginsRegistrationWithRestrictionsChecker\PluginsRegistrationWithRestrictionsChecker:
        arguments:
            $checkerDocUrl: '%plugin_registration_checker_doc_url%'

    SprykerSdk\Evaluator\Checker\SinglePluginArgumentChecker\SinglePluginArgumentChecker:
        arguments:
            $checkerDocUrl: '%single_plugin_argument_checker_doc_url%'

    # Third-party
    PhpParser\ParserFactory: ~
    Symfony\Component\Finder\Finder: ~

    #Report
    GuzzleHttp\Client:

    serializer.json_encoder:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder

    report.serializer:
        class: Symfony\Component\Serializer\Serializer
        arguments:
            - [ '@SprykerSdk\Evaluator\Report\Serializer\Normalizer\ReportNormalizer' ]
            - [ "@serializer.json_encoder" ]
    SprykerSdk\Evaluator\Report\OperationsReportSendProcessor:
        arguments:
            $isReportingEnabled: '%reporting_enabled%'

    SprykerSdk\Evaluator\Report\Sender\RemoteEndpointJsonReportSender:
        arguments:
            - '@GuzzleHttp\Client'
            - '@report.serializer'
            - '%report_send_auth_token%'
            - '%report_send_endpoint_url%'
            - '%report_send_timeout%'
            - '%report_send_connection_timeout%'

    SprykerSdk\Evaluator\Report\Builder\ReportDtoBuilder:
        arguments:
            - '%source_code_provider%'
            - '%app_env%'
            - '%project_id%'
            - '%repository_name%'
            - '%organization_name%'

    SprykerSdk\Evaluator\ReleaseApp\Infrastructure\Client\HttpRequestExecutor:
        public: true

    SprykerSdk\Evaluator\ReleaseApp\Infrastructure\Service\ReleaseAppService:
        public: true
